body {

background: black;
}
    .App {
    text-align: center;
    width: 55%;
        margin: 20px auto;
    border-radius: 10px;
}


.App-logo {

  width: 10%;
}

.App-header {

    color: white;
    border-radius: 72px;
    background-image: url('assets/bk.jpg');
    background-size: 104%;

}

.App-title {
    font-size: 1.5em;
    color: #ffffff;
    border-bottom: aliceblue dotted 2px;
    width: 51%;
    text-align: center;
    margin: 0px auto;
    margin-bottom: 15px;
    padding-bottom: 15px;
}

.App-intro {
  font-size: large;
}

button {
     background: #2196F3;
    border: none;
    color: white;
    padding: 10px 0px;
    width: 73%;
    font-size: 2em;
    cursor: pointer;
    font-size: 100%;
}

button:hover {
    background: white;
    color: #2196f3;
}


div#info {
    padding: 8px;
    margin-bottom: 15px;
    font-size: 0.7em;
}

.filter {
    height: 100%;
    background: #00000099;
    border-radius: 72px;
    padding-bottom: 40px;
}

.group {
  height: 53px;
      margin-bottom: -30px;
}

div#weatheroutput {
    height: 20px;
    color: azure;
}

div#weatheroutput img {
    border-radius: 32px;
}
